In [4]:
import pandas as pd
import sqlite3 as sql

In [5]:
conexao_normalizada = sql.connect('globalstore_normalizada.db')

In [6]:
with conexao_normalizada:
    products = pd.read_sql(
        con = conexao_normalizada, 
        sql="select * from products"
    )

DatabaseError: Execution failed on sql 'select * from products': no such table: products

In [7]:
products

NameError: name 'products' is not defined

In [ ]:
products['product_name_v1'] = products['product_name'].apply(
    lambda x : x.replace(', ', ' - ')
    )
products

In [ ]:
products['product_name_v2'] = products['product_name_v1'].apply(lambda x : x.split(' - '))
products

In [ ]:
products['product_name_prepared'] = products.apply(
    lambda x : x['product_id'] + ' - ' + x['product_name_v2'][0] + ' (' + x['product_name_v2'][1] + ')'
        if len(x['product_name_v2']) > 1
        else x['product_id'] + ' - ' + x['product_name_v1'], 
    axis = 1)
products

In [ ]:
import re

In [ ]:
products['numeros'] = products['product_name'].apply(lambda x : re.findall('[0-9]+', x))
products

## Discretização de Variáveis

In [ ]:
globalstore = pd.read_csv('globalstore.csv')
globalstore

In [ ]:
globalstore['lucro'] = globalstore['Profit'].apply(lambda x : 1 if x > 0 else 0)

In [ ]:
globalstore['faixa'] = pd.cut(globalstore['Sales'], bins=4)

In [ ]:
globalstore['Order Date'] = globalstore['Order Date'].astype('datetime64[ns]')
globalstore['Ship Date'] = globalstore['Ship Date'].astype('datetime64[ns]')
globalstore['delivery_days'] = (globalstore['Ship Date'] - globalstore['Order Date']).dt.days + 1

In [ ]:
globalstore

Atividades:

Aplicar a discretização em outras 3 situações na base globalstore.

Aplicar 2 outras situações para tratamento do nome dos produtos na base globalstore.

Normalizar novamente da base com o tratamento de strings e a discritização das variáveis e salvar em banco de dados relacional.